// Navigation code here
.navigation {
    max-width: 800px;
    width: 100%;
    margin: 12px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    nav {
        padding-top: 20px;
    }

    a {
        font-weight: bold;
        color: @river-bend;
        text-decoration: none;
        padding: 0 15px;
    }

}
